.navbar-header

.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;

}

.footer {
    background-color:#151313;
    color: white;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}


.jumbotron {
    background-image: url("https://images.alphacoders.com/285/thumb-1920-285951.jpg");
    background-size: cover;
    color: antiquewhite;
    border-radius: 0%;

}



.btn-sub{
    color: black;
    background-color: #F1C40F;
    
}

.btn-chacha {
    color: black;
}
.chacha {
    
    margin: 30px;
    padding: 40px;
 } 

 .row-card {
   
     margin: 30px;
     padding: 40px;
 }


address{
    font-size: 80%;
    margin: 0px;
    color: #F8F1F0;

}


.navbar-dark {
    background-color: black;
}

    