.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;

}

.footer {
    background-color:#151313;
    color: white;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}


.jumbotron {
    background-image: url("https://images.wallpaperscraft.com/image/starry_sky_stars_night_137739_1920x1080.jpg");
    background-size: cover;
    color: antiquewhite;
    border-radius: 0%;

}

.card {
    margin: 25px;
}

.btn-sub{
    color: black;
    background-color: #F1C40F;
    
}

.card-body {
    margin: 40px;
}

address{
    font-size: 80%;
    margin: 0px;
    color: #F8F1F0;

}


.navbar-dark {
    background-color: black;
}