
.row-content {
    margin-top: 0px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 20px 0px 20px 0px;

}


.footer {
    background-color:#151313;
    color: wheat;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}


.jumbotron {
    background-image: url("https://wallpapercave.com/wp/wp2752142.jpg");
    background-size: cover;
    color: antiquewhite;
    border-radius: 0%;

}

.text-card {
    
    margin-left: 20px;
    margin-right: 20px;
    padding: 0px;
    color: #151313;
    font-size: 100%;
    
}


.row-context {
    background-image: url("https://images.pexels.com/photos/1379115/pexels-photo-1379115.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

.zoom:hover {
    transform: scale(0.5);
}


.btn-sub{
    color: black;
    background-color: #F1C40F;    
}



.modal-login {
 color: #151313;
 background-color: #F1C40F;
}

.box .card {
    color: antiquewhite;
    font-size: 20px;
    font-weight: 600;
    text-shadow: yellow;
}
.row-icon{
    
    margin: 30px;
    padding: 40px;
 } 

 .box .box-content {
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0;
     left: 0;
     transition: all .5s ease 0s;
 }

 .box:hover .box-content {

    background-color: rgba(33, 47, 61, .8);
 }


.box .icon {

    width: 100%;
    margin: 0%;
    margin-left: -20px;
    text-decoration: none;
    position: absolute;
    bottom: 0%;
    opacity: 0;
    transition-duration: .1s;
    transition-timing-function: cubic-bezier(1,-.53,.405,1.425);
    transition-delay: .1s;

}
.box:hover .icon {
    bottom:38%;
    opacity: 1;
}
.box .icon li {
    display: inline-block;
}

.box .icon li a{
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    font-size: 18px;
    color: black;
    border: 1px solid black;
    margin-right: 0px;
    transition: all .3s ease-in-out 0s;
}

.box .icon li a:hover {
    background: black;
    color: white;
}



address{
    font-size: 80%;
    margin: 0px;
    color: #F8F1F0;

}


.navbar-dark {
    background-color: black;
}

    